*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h3{
    color: whitesmoke;
}

ul{
    margin: 0px;
    padding: 0px;
}

/* li{
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    background-color: white;
} */

header {
    background-color: black;
    color: white;
}

header h2{
    padding: 4px;
}

span{
    font-weight: 800;
}

.container{
    width: 1200px;
    height: 400px;
    background-color: black;
}

.header_panel{
    height: 50px;
    width: 100%;
    background-color: gray;
}

.add_btn{
    color: white;
    background-color: green;
    float: right;
}

.delete_btn{
    margin: 0px;
    padding: 0px;
    height: 25px;
    float: right;
    color: white;
    background-color: red;
}

.infoitem{
    /* display: inline; */
    margin: 0px;
    padding: 0px;
    width: 10%;
    height: 100%;
    color: black;
    background-color: white;
    float: left;
}

.contentnote{
    height: 100%;
    background-color: yellow;
}






